<h2>This is the <%= @deck.description %> deck.</h2>

<div>
  <a href="/decks/<%= @deck.id %>/play_deck">Play Deck</a>
</div>
<br>
<div>
  <a href="/decks/<%= @deck.id %>/add_cards">Add Cards to Deck</a>
</div>