<h1>New Image</h2>

  <form action="/galleries/<%= @gallery.id %>/images" method="POST">
    <input type="hidden" name="image[gallery_id]" value="<%= @gallery_id %>"> <!-- hidden form to pass gallery_id in hash -->

    <div>
      <label>Image Name</label>
      <input type="text" name="image[name]">
    </div>

    <div>
      <label>Image Decription</label>
      <input type="text" name="image[description]">
    </div>

    <div>
      <label>Image URL:</label>
      <input type="text" name="image[url]">
    </div>

    <input type="submit" value="Create Value">
  </form>